$color-green: #1d4834;
$color-white: #fff;
$color-gray: #b1b1b1;
$color-black: #000;
$color-brown: #523f38;
$color-yellow: #f0f66e;
$color-orange: #f28123;
$color-red: #ff0000;
$color-light-green: #2ad000;

@mixin displayflex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.reserve {
  background-color: $color-light-green;
  padding: 8px 30px;
  border-radius: 15px;
  color: $color-white;
}

header {
  height: 80px;
  width: 100%;
  padding: 0 80px;
  @include displayflex(row, center, space-between);
  .header-logo {
    height: 80px;
    img {
      max-height: 100%;
    }
  }
  .links {
    @include displayflex(row, center, center);
    .requests {
      margin-right: 20px;
    }
  }
  nav {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  header {
    padding: 0 40px;
    img {
      height: 60%;
    }
    .links {
      display: none;
      visibility: hidden;
    }
    nav {
      display: flex;
      visibility: visible;
    }
  }
}
