@use "global";

@mixin displayflex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

main {
  @include displayflex(column, center, center);
  background: url("../img/bg1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  .login-container {
    @include displayflex(column, center, space-around);
    height: 550px;
    width: 436px;
    background-color: global.$color-white;
    border-radius: 15px;
    padding: 40px;

    img {
      height: 100px;
    }

    #login-form,
    #register-form,
    #reset-form {
      @include displayflex(column, center, space-evenly);
      height: 200px;
      width: 100%;

      .value-input,
      #submit-btn {
        width: 100%;
      }

      .value-input {
        padding: 10px 5px;
        margin: 10px 0;
        border: 4px solid global.$color-green;
        border-radius: 6px;
      }

      #submit-btn {
        padding: 16px;
        border: none;
        border-radius: 60px;
        background-color: global.$color-green;
        color: global.$color-white;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .panel-link {
      margin-top: 10px;
      text-decoration: none;
      color: global.$color-green;
    }
  }
}

@media (max-width: 600px) {
  main {
    .login-container {
      width: 100vw;
      height: 100vh;
      border-radius: 0;

      img {
        height: 100px;
      }
    }
  }
}
